.idea
.npy
.pkl
*.pyc
.DS_Store
/fashion_mnist_from_git/CONTRIBUTING.md
/fashion_mnist_from_git/README.ja.md
/fashion_mnist_from_git/app.py
/fashion_mnist_from_git/benchmark/
/fashion_mnist_from_git/__init__.py
/fashion_mnist_from_git/.zappr.yaml
/fashion_mnist_from_git/configs.py
/fashion_mnist_from_git/LICENSE
/fashion_mnist_from_git/.dockerignore
/fashion_mnist_from_git/MAINTAINERS
/fashion_mnist_from_git/utils/
/fashion_mnist_from_git/visualization/
/fashion_mnist_from_git/.catwatch.yaml
/fashion_mnist_from_git/data/
/fashion_mnist_from_git/Dockerfile
/fashion_mnist_from_git/static/
/fashion_mnist_from_git/doc/
/fashion_mnist_from_git/.gitignore
runtime/
